<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <title>Nameko UI</title>
</head>

<body>
  <div class="container">

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Nameko UI | {{ service_name }}</span>
        </div>
    </nav>

    <br>

    {% block content %}{% endblock %}

  </div>
</body>

</html>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
