<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <title>Nameko UI</title>
</head>

<body>
  <div class="container">

    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">{{ service_name }}</span>
      </div>
    </nav>

    <br>

    {% for method in methods %}
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">
          <button
            class="btn-sm btn-secondary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse_{{ method.name }}"
          >
            Toggle params
          </button>
          {{ method.name }}
        </h5>
      </div>
      <div class="card-body">
        <form action="/call_rpc/{{ service_name }}" method="POST">
          <div class="collapse" id="collapse_{{ method.name }}">
            {% for param in method.params %}
            <div class="mb-2">
              <label
                for="{{ method.name }}_{{ param }}"
                class="form-label"
              >
                {{param}}
              </label>
              <input
                type="text"
                class="form-control"
                name="{{ method.name }}_{{ param }}"
                id="{{ method.name }}_{{ param }}"
              >
            </div>
            {% endfor %}
          </div>
          <input type="hidden" name="method" value="{{ method.name }}">
          <button type="submit" class="btn btn-success btn-sm">Call</button>
        </form>
      </div>
    </div>
    <br>
    {% endfor %}

  </div>
</body>

</html>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>