<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <title>Nameko UI</title>
</head>

<body>
  <div class="container">

    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">{{ service_name }}</span>
      </div>
    </nav>

    <br>

    {% for method in methods %}
    <span>{{ method.name }}</span>
    <form action="/call_rpc/{{ service_name }}" method="POST">

      {% for param in method.params %}
      <label for="{{ method.name }}_{{ param }}">{{param}}</label>
      <input type="text" name="{{ method.name }}_{{ param }}" id="{{ method.name }}_{{ param }}">
      {% endfor %}

      <input type="hidden" name="method" value="{{ method.name }}">
      <button type="submit" class="btn btn-success btn-sm">Play</button>
    </form>
    <br>
    {% endfor %}

  </div>
</body>

</html>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>