<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <title>Nameko UI</title>
</head>

<body>
  <div class="container">

    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">{{ service_name }}</span>
      </div>
    </nav>

    <br>

    {% for method in methods %}
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <span>{{ method.name }}</span>
      </div>
      {% for param in method.params %}
      <div class="col-auto">
        <label for="param_{{param}}" class="col-form-label">{{param}}</label>
      </div>
      <div class="col-auto">
        <input type="text" id="param_{{param}}" class="form-control">
      </div>
      {% endfor %}
      <div class="col-auto">
        <button type="button" class="btn btn-success btn-sm">Play</button>
      </div>
    </div>
    {% endfor %}

  </div>
</body>
</html>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
